@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 24px;

  .searchForm {
    margin-top: 18px;

    .input {
      min-width: 200px;
      max-width: 100vw;
      padding: 6px 16px;
      font-size: 15px;
    }

    .submit {
      padding: 6px 16px;
      margin-left: 6px;
      font-size: 15px;
      background-color: $themeColor;
      color: white;
      border: $themeColor 2px solid;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        color: $themeColor;
        // border: $themeColor 2px solid;
        background-color: white;
      }
    }
  }

  .recipes {
    margin-top: 24px;
    align-items: baseline;
    // display: grid;
    // grid-template-columns: 230px 230px;
  }
}
